#rodada table {
	width: 100%;
}
#rodada img {
	width: 32px;
	vertical-align:middle;
}
#rodada td {
	line-height: 50px;
}
.overlay {
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .8;
}
.loader {
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
div.standings {
    width: 50%;
    float: left;
}
table td,th {
    line-height: 50px;
    padding: 0px 10px 0px 10px;
    text-align: center;
    border: 1px solid #ccc;
}
table td.time {
    width: 100%;
    text-align: left;
}
div.infos {
    width: 50%;
    float: right;
    overflow: scroll;
}
div.infos > .container {
    width: 297px;
}
div.infos > .container > div > div {
    width: 30px;
    float:left;
    line-height:30px;
    border: 1px solid #ccc;
    text-align: center;
}
.content {
    padding-bottom: 50px;
}
/*


table {
    border-collapse: collapse;
}
tbody tr {
    background: #fff;
}
tbody tr:nth-child(odd) {
  background: #eee;
}

*/